.App {
    text-align: center;
}

h1 {
    font-style: italic;
    font-weight: 900;
    user-select: none;
}

.btn-container {
    display: flex;
    flex: 1 1 0;
    width: 0;
    height: 70vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 1.2em 1em;
    width: 50%;
    margin: 0.6em;
    border: none;
    background-color: coral;
    border-radius: 1em;
    color: white;
    font-weight: 600;
    font-size: 1em;
}

.instructions {
    display: flex;
    flex: 1 1 0;
    height: 70vh;
    width: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

ul li {
    text-align: left;
    margin-bottom: 1em;
    padding: 0em 1.8em;
    list-style: none;
}

.instructions div {
    font-size: 1.6em;
    font-weight: 800;
    font-style: italic;
}

.btn-container p {
    margin: 0;
}

.btn-container div {
    font-size: 1.6em;
    font-weight: 800;
    font-style: italic;
}