.App {
    text-align: center;
}

h1 {
    font-style: italic;
    font-weight: 900;
    user-select: none;
}

.btn-container {
    display: flex;
    flex: 1 1 0;
    width: 0;
    height: 70vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10em;
}

.btn {
    padding: 1.2em 1em;
    width: 50%;
    margin: 0.6em;
    border: none;
    background-color: #ff2e63;
    border-radius: 1em;
    color: white;
    font-weight: 600;
    font-size: 1em;
}

.instructions {
    display: flex;
    flex: 1 1 0;
    height: 70vh;
    width: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    user-select: none;
    margin-top: 10em;
}

ul li {
    text-align: left;
    margin-bottom: 1em;
    padding: 0em 1.8em;
    list-style: none;
    color: #888888;
}

.instructions div {
    font-size: 1.6em;
    font-weight: 800;
    font-style: italic;
}

.btn-container p {
    margin: 0;
    user-select: none;
}

.btn-container div {
    font-size: 1.6em;
    font-weight: 800;
    font-style: italic;
    user-select: none;
}

.start-screen {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 0;
    position: absolute;
    background-color: rgba(24, 26, 26, 0.3);
    backdrop-filter: blur(0.1em);
}

.start-screen-button {
    width: 12em;
    height: 5em;
    transform: skew(-20deg);
    border: none;
    font-weight: 900;
    background-color: sandybrown;
    margin: 1em 2em;
}

.label {
    font-size: 1.6em;
    font-weight: 800;
    font-style: italic;
}

.something {
    height: 10em;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(24, 26, 26, 0.8);
    backdrop-filter: blur(0.1em);
    color: white;
    transform: translateX(-100%);
    transition: transform 1s;
}

.hide {
    display: none;
    z-index: -2;
}

.transit {
    transform: translateX(0);
}